.Landing {
  text-align: center;
}

.Landing-header {
  background-image: url("https://jooinn.com/images/wild-forest-52.jpg");
  min-height: 100vh;
  overflow: hidden;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Landing-form {
  background-image: url("https://www.guidestar.org/ViewEdoc.aspx?eDocId=4531281&approved=True");
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-color: white;
  background-repeat: no-repeat;
}

.Button-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 30px;
 
}

.Button-bottom{
  display: flex;
  flex-direction: column;
  align-items: center;

}