.Signup {
    text-align: center;
  }
  
  .Signup-header {
    background-image: url("https://jooinn.com/images/wild-forest-52.jpg");
    min-height: 100vh;
    overflow: hidden;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .Signup-form {
    background-image: url("https://www.guidestar.org/ViewEdoc.aspx?eDocId=4531281&approved=True");
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-color: orange;
    background-repeat: no-repeat;
  }
  .Settings-header {
    background-image: url("https://jooinn.com/images/wild-forest-52.jpg");
    min-height: 100vh;
    overflow: hidden;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .Login {
    text-align: center;
  }
  
.Login-header {
    background-image: url("https://jooinn.com/images/wild-forest-52.jpg");
    min-height: 100vh;
    overflow: hidden;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
.Login-form {
    background-image: url("https://www.guidestar.org/ViewEdoc.aspx?eDocId=4531281&approved=True");
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-color: white;
    background-repeat: no-repeat;
  }

  .Landing {
    text-align: center;
  }
  
  .Landing-header {
    background-image: url("https://jooinn.com/images/wild-forest-52.jpg");
    min-height: 100vh;
    overflow: hidden;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .Landing-form {
    background-image: url("https://www.guidestar.org/ViewEdoc.aspx?eDocId=4531281&approved=True");
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    align-content: center;
    background-size: cover;
    background-color: white;
    background-repeat: no-repeat;
    background-position: bottom 80px left 1px; 
  }
  
  .Button-top {
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    margin-right: 40px;
    margin-bottom: 60px;
    margin-left: 20px;
  }
  
  .Button-bottom{
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    margin-bottom: 60px;
  
  }
  .Home-header {
    background-image: url("https://jooinn.com/images/wild-forest-52.jpg");
    min-height: 100vh;
    overflow: hidden;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .Data-header {
    background-image: url("https://jooinn.com/images/wild-forest-52.jpg");
    min-height: 100vh;
    overflow: hidden;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }

  .Forgotpassword {
    background-image: url("https://jooinn.com/images/wild-forest-52.jpg");
    min-height: 100vh;
    overflow: hidden;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .form {
   background-color: white;
   text-align: center;
   display: flex;
   flex-direction: column;
  }

  .leaflet-container {
    width: 50%;
    height: 80%;
    position: absolute;
    left: 50px;
    top: 105px;
  }

  .Table-container{
    width: 90%;
    height: 80%;
    background-color: white;
  }